[submodule "degrees-of-lewdity"]
	path = repositories/degrees-of-lewdity
	url = https://gitgud.io/Vrelnir/degrees-of-lewdity.git
[submodule "degrees-of-lewdity-plus"]
	path = repositories/degrees-of-lewdity-plus
	url = https://gitgud.io/Frostberg/degrees-of-lewdity-plus.git
[submodule "sugarcube-2"]
	path = repositories/sugarcube-2
	url = https://github.com/tmedwards/sugarcube-2.git
[submodule "repositories/sugarcube-2-vrelnir"]
	path = repositories/sugarcube-2-vrelnir
	url = https://gitgud.io/Vrelnir/sugarcube-2.git
